.container {
  display: grid;
  grid-template-columns: 5vw 50vw 40vw 5vw;
  grid-template-rows: 12% 88%;
  height: 100vw;
  position: relative;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  /* position: absolute; */
  background-color: #494848;
  /* height: 100%; */
  width: 100%;
  color: white;
  overflow: hidden;
}

.App-title {
  font-size: 13.5vw;
}

.template-list {
  display: grid;
  position: relative;

  grid-template-columns: 30% 35% 35%;
  grid-template-rows: auto;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.body {
  display: grid;
  position: relative;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 2% 30% 68%;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.choose {
  grid-column: 1 / 2;
  font-size: 6vw;
  padding-top: 8%;
}

.templateCard0 {
  grid-column: 2 / 3;
  border: 1px solid gray;
  border-radius: 2%;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 2% 10% 86% 2%;
}

.templateCard1 {
  border: 1px solid gray;
  width: 80%;
  border-radius: 2%;
  grid-column: 3 / 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 2% 10% 86% 2%;
}
.templateImage {
  display: inline-block;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  align-items: center;
  position: absolute;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.cardTitle {
  font-size: 2vw;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.savedH3 {
  font-size: 20pt;
  font-weight: 700;
  padding-bottom: 4%;
}

.savedResumes {
  height: 4vw;
  float: right;
  right: 7%;
  top: 0;
  text-align: center;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-top: 5%;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.form {
  width: 50vw;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-bottom: 9%;
}
